* {
  padding: 0%;
  margin: 0%;
}
.box-container {
  padding-bottom: 5rem;
}
.App {
  padding: 2.5rem;
}
.box {
  width: 10rem;
  height: 10rem;
  background-color: blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.box-item {
  width: 0.3rem;
  height: 0.3rem;
  background-color: white;
  list-style: none;
  padding: 1rem;
  margin: 0.1rem;
}
.btns {
  display: flex;
}
.btn {
  outline: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  background-color: rgb(48, 155, 197);
  padding: 0.5rem 1.5rem;
  margin: 1rem;
  border: none;
  font-size: 0.8rem;
  font-size: 400;
  width: 10rem;
}
